#scores {
    display: flex;
    flex-direction: row;
    height: 30vh;
    justify-content: center;
    user-select: none;
}

#minus {
    margin-top: 8px;
    display: flex;
    flex-direction: row;
    height: 20vh;
    justify-content: center;
    user-select: none;
}

.b0 {
    color: #f3e8e8;
    width: 48%;
    margin: 0 4px 0 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: min(16vw, 160px);
    font-family: "Pretendard-Regular", sans-serif;
    border-radius: 10px;
    font-weight: 200;
    cursor: pointer;
}

.mico {
    background-color: #f3e8e8;
    width: 5vw;
    height: 1vw;
    margin: 0 1% 0 1%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 200;
    cursor: pointer;
}

#minus1 {
    background-color: #cf6060;
}

#minus2 {
    background-color: #395ee3;
}

#score1 {
    background-color: #cf6060;
}

#score2 {
    background-color: #395ee3;
}