body {
    background-color: #080808;
}

h1 {
    color: azure;
    font-family: "Pretendard-Regular", sans-serif;
    font-weight: 100;
    text-align: center;
    margin: 4%;
    font-size: 60px;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}